.card-layout {
  position: relative;
  display: block;
  cursor: pointer;
  &:first-child {
    margin-top: -1px;
  }
  @media (min-width: 768px) {
    // height: 138px;
    height: 120px;
    margin-top: $card-desktop-box-distance;
    .card_info {
      float: left;
      height: 100%;
      width: calc(100% - 213px);
      .card-info-right {
        .info__desc_price_night {
          right: 15px;
          bottom: 12px;
        }
      }
    }
    .card_img {
      padding-bottom: 0;
      width: 213px;
      height: 100%;
      float: left;
    }
  }
  @media (max-width: 767px) {
    margin-top: $card-mobile-box-distance;
    border-left-width: 0px;
    border-right-width: 0px;
    .card_info {
      height: 94px;
      .card-info-right {
        .info__desc_price {
          &.sale-price {
            height: 14px !important;
            min-height: 14px !important;
          }
        }
        .info__desc_price_night {
          right: 10px;
          bottom: 7px;
        }
      }
    }
    .card_img {
      padding-top: 21.5%;
      padding-bottom: 21.5%;
    }
  } // &:first-child {
  //     margin-top: 0;
  // }
  a.link-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .card_info {
    padding: $card-desktop-info-padding;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @media (max-width: 767px) {
      padding: $card-mobile-info-padding;
    }
    .card-info-left {
      //max-width: calc(100% - 140px);
      max-width: 70%;
      >* {
        margin-bottom: 15px; //max-width: 70%;
        line-height: 2rem;
        @media (min-width: 768px) {
          margin-bottom: $card-desktop-info-padding;
        }
      }
      .info__star_review {
        margin-bottom: 5px !important;
        @media (min-width: 768px) {
          margin-bottom: 10px !important;
        }
        * {
          font-size: inherit;
        }
      }
      .info__title {
        margin-top: 0px;
        a {
          &:hover {
            text-decoration: none;
          }
          span * {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: normal;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            height: 2rem;
          }
        }
      }
    }
    .card-info-right {
      @include flex(1);
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      >* {
        margin-bottom: 10px; // $card-mobile-info-padding;
        line-height: 2rem;
        white-space: nowrap;
        @media (min-width: 768px) {
          margin-bottom: 15px; // $card-desktop-info-padding;
        }
      }
      .info__desc_price {
        &.discount-price {
          margin-bottom: 10px !important;
          height: 2rem;
        }
        @media (min-width: 768px) {
          &.discount-price {
            margin-bottom: 20px !important;
          }
        }
        margin-top: 0px;
        &.sale-price {
          height: 16px;
          min-height: 16px;
          * {
            text-decoration: line-through;
          }
        }
      }
      .info__desc_price_night {
        position: absolute;
        margin: 0px;
        font-weight: normal;
      }
    }
  }
  .card_img {
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    .card-users-rating {
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      bottom: 5px;
      left: 5px;
      border-radius: 2px;
      padding: 7px; // width: 150px;
      text-align: center;
      > span {
        color: $colorH;
      }
    }
  }
}

// .margin-30px-bot{
//     margin-bottom:30px !important;
// }
