input {
  &[type="email"],
  &[type="text"],
  &[type="search"],
  &[type="password"] {
    height: $input-large-size;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;
    &:focus {
      border-color: $active-color;
      color: $active-color;
      @include box-shadow(0, 0, 0, 0);
    }
  }
  &.md {
    height: $input-medium-size;
  }
}

.btn-center {
  margin: 0 auto;
  display: inherit;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  &,
  &:focus {
    border-color: $colorG;
    background-color: $colorG;
    @include box-shadow (0, 0, 0, 0);
  }
}

.input-group {
  * {
    // color: $colorH;
  }
  &.input-group-lg {
    .form-control {
      font-size: inherit;
    }
  }
  .form-control,
  .input-group-btn>button.btn {
    border-radius: 0;
  }
  button.form-control {
    border-left-color: $colorH !important;
  }
  .input-group-addon,
  button.form-control {
    border-radius: 0;
  }
  [class^='jetex-'] {
    font-size: 1.3em;
  }
  &.fb {
    * {
      color: $colorH;
    }
    .input-group-addon,
    button.form-control {
      background-color: #3b5998;
      border-color: #3b5998;
    }
  }
  &.gplus {
    * {
      color: $colorH;
    }
    .input-group-addon,
    button.form-control {
      background-color: #dd4b39;
      border-color: #dd4b39;
    }
  }
}

.frm-profile {
  .update-result {
    color: $colorC;
    padding-bottom: 30px;
  }
  .input-group.fb,
  .input-group.gplus {
    max-width: 180px;
  }
  .valign {
    line-height: 24px;
  }
  .form-group .form-control#exampleInputPassword3 {
    border-radius: 0px;
    height: 52px;
    display: inline-flex;
    align-items: center;
  }
}


/* Form Homepage Subscribe Email */

.hp-sub-email {
  padding: 50px 0px;
  text-align: center;
  background-color: $colorA;
  .hp-sub-email_title {
    color: $colorH;
    padding-bottom: 20px;
  }
  .subscribe-result {
    padding-top: 10px;
    color: $colorH;
  }
  .hp-sub-email_frm {
    padding-top: 30px;
    .hp-sub-email__input {
      padding: 10px;
      border: none;
    }
    .hp-sub-email__btn {
      width: 140px;
    }
    @media (min-width: 768px) {
      width: 550px;
      display: inline-flex;
      .hp-sub-email__input {
        width: calc(100% - 140px);
      }
    }
    @media (max-width: 767px) {
      padding-left: 15px;
      padding-right: 15px;
      .hp-sub-email__input {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
