<footer>
  <div>
    <div class="seo-link-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <h5 class="">
              <strong>Flights to Vietnam</strong>
            </h5>
            <ul class="listing">
              <li>Flights to
                <strong>Hanoi</strong>
              </li>
              <li>Flights to
                <strong>Ho Chi Minh City</strong>
              </li>
              <li>Flights to
                <strong>Da Nang</strong>
              </li>
              <li>Flights to
                <strong>Nha Trang</strong>
              </li>
              <li>Flights to
                <strong>Hue</strong>
              </li>
              <li>Flights to
                <strong>Phu Quoc</strong>
              </li>
              <li>Flights to
                <strong>Dalat</strong>
              </li>
              <li>Flights to
                <strong>Pleiku</strong>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <h5 class="">
              <strong>Top Asian cities</strong>
            </h5>
            <ul class="listing">
              <li>Flights to
                <strong>Bangkok</strong>
              </li>
              <li>Flights to
                <strong>Singapore</strong>
              </li>
              <li>Flights to
                <strong>Kuala Lumpur</strong>
              </li>
              <li>Flights to
                <strong>Hong Kong</strong>
              </li>
              <li>Flights to
                <strong>Tokyo</strong>
              </li>
              <li>Flights to
                <strong>Seoul</strong>
              </li>
              <li>Flights to
                <strong>Shanghai</strong>
              </li>
              <li>Flights to
                <strong>Taipei</strong>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <h5 class="">
              <strong>Top destinations in Asia</strong>
            </h5>
            <ul class="listing">
              <li>
                <strong>Bali</strong>, Indonesia</li>
              <li>
                <strong>Phuket</strong>, Thailand</li>
              <li>
                <strong>Siem Reap</strong>, Cambodia</li>
              <li>
                <strong>Yangon</strong>, Myanmar</li>
              <li>
                <strong>Penang</strong>, Malaysia</li>
              <li>
                <strong>Chiang Mai</strong>, Thailand</li>
              <li>
                <strong>Manila</strong>, Philippines</li>
              <li>
                <strong>Jakarta</strong>, Indonesia</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right pady20"></div>
  </div>
</footer>
