<header class="sticky-navigation navbar navbar-fixed-top ng-scope is-fixed is-visible">
  <div class="container">
    <div class="navbar-header">
      <ul class="float-right mobile-menu d-block d-sm-none">
        <li>
          <a class="has-icon"><i class="jetex-history"></i></a>
        </li>

        <!-- <li class="user-acc" uib-dropdown="" on-toggle="toggled(open)" ng-show="authentication.user">
          <a class="has-icon"href="http://jetexplorer.com/modules/core/client/views/header.client.view.html"id="history-dropdown-mobile" uib-dropdown-toggle="">
            <i class="jetex-user-circle"></i>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu="" aria-labelledby="history-dropdown-mobile">
            <li>
              <a ui-sref="edit-profile">Edit Profile</a>
            </li>
            <li><a ng-click="logoutUserProfile();">Sign out</a></li>
          </ul>
        </li> -->
        <li class="" type="button">
          <span class="sr-only">Toggle navigation</span>
          <a class="has-icon"><i class="jetex-burger-menu"></i></a>
        </li>
      </ul>
      <a class="navbar-brand">
        <img alt="Logo" src="assets/images/logo/JetEX-Logo.png" style="height: 40px">
      </a>
    </div>
    <nav class="collapse navbar-collapse"></nav>
  </div>
</header>