<header class="sticky-navigation navbar fixed-top" [ngClass]="{ 'is-fixed': stickyHeaderState.isFixed, 'is-visible': stickyHeaderState.isVisibled }">
  <div class="container">
    <div class="float-sm-left navbar-header">
      <ul class="float-right mobile-menu d-block d-sm-none">
        <li [routerLink]="['/search-histories']">
          <a class="has-icon"><i class="jetex-history"></i></a>
        </li>

        <!-- <li class="user-acc" uib-dropdown="" on-toggle="toggled(open)" ng-show="authentication.user">
          <a class="has-icon"href="http://jetexplorer.com/modules/core/client/views/header.client.view.html"id="history-dropdown-mobile" uib-dropdown-toggle="">
            <i class="jetex-user-circle"></i>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu="" aria-labelledby="history-dropdown-mobile">
            <li>
              <a ui-sref="edit-profile">Edit Profile</a>
            </li>
            <li><a ng-click="logoutUserProfile();">Sign out</a></li>
          </ul>
        </li> -->
        <li class="" type="button" data-toggle="collapse" data-target="#userMenuCollapse" aria-expanded="false" aria-controls="userMenuCollapse">
          <span class="sr-only">Toggle navigation</span>
          <a class="has-icon"><i class="jetex-burger-menu"></i></a>
        </li>
      </ul>
      <a class="navbar-brand" [routerLink]="['/dashboard']">
        <img alt="Logo" src="assets/images/logo/JetEX-Logo.png" style="height: 40px">
      </a>
    </div>
    <nav id="userMenuCollapse" class="d-sm-block collapse navbar-collapse">
      <ul class="d-sm-block float-sm-right nav navbar-nav navbar-right">
        <li class="d-none d-sm-block float-sm-left" [routerLink]="['/search-histories']">
          <a role="button">Search History</a>
        </li>
        <li class="float-sm-left">
          <a role="button">Sign in</a>
        </li>
      </ul>
    </nav>
  </div>
</header>