<div class="home-page-container">
  <div class="wp-cover-image">
    <div class="cover-status">
      <h1>Find the cheapest flights and hotels in Asia</h1>
    </div>
    <div class="background-darken-screen"></div>
  </div>
  <div class="container wp-main-content">
    <div class="wp-search-form flight-custom-col">
      <!-- <flight-search-form></flight-search-form> -->
    </div>
    <div class="wp-promotion-info"></div>
  </div>
  <div class="intro-content">
    <div class="container pady100">
      <div class="inner-wrap">
        <h3 class="active-color">SEARCH CHEAP FLIGHTS WITH JETEXPLORER</h3>
        <div class="padb50 large-paragraph">Find the cheapest airline tickets for all top airlines in Asia and top international flight routes. JetExplorer searches
          hundreds of travel sites to help you find and book the flight that suits you best.</div>
      </div>
      <div class="row">
        <div class="col-md-4 col-12" align="center">
          <i class="jetex-money ico-big active-color"></i>
          <h5 class="pady10 active-color">Best Price Guarantee</h5>
          <div>Find the cheapest flights and hotel deals from hundreds of travel sites.</div>
        </div>

        <div class="col-md-4 col-12" align="center">
          <i class="jetex-best-experience ico-big active-color"></i>
          <h5 class="pady10 active-color">Best Experience</h5>
          <div>Your next trip starts here on JetExplorer.com, we make sure your experience is as enjoyable as possible.</div>
        </div>
        <div class="col-md-4 col-12" align="center">
          <i class="jetex-church ico-big active-color"></i>
          <h5 class="pady10 active-color">Best for Asia travels</h5>
          <div>JetExplorer.com is a free and independent service with the mission to find the best deals in Asia.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="mosaic-wrap">
    <div class="title-des-top">
      <h3 class="active-color">ASIA’S TOP DESTINATIONS</h3>
    </div>

    <div class="container mosaic-des-top">

      <!-- ngRepeat: des in supportDestination -->
      <div class="item big col-12 col-md-8 float-left"
        style="background: url('/assets/images/destinations/sing-bangkok.jpg'); height: 379px;"
        role="button" tabindex="0">
        <div class="content-city-name">
          <h3 class="ng-binding">Bangkok</h3>
        </div>
        <div class="content-price">
          <!--<span class="medium-paragraph">From ${{des.minPrice}}</span>-->
          <span class="has-icon medium-paragraph">Find cheap flights &gt;</span>
        </div>
        <input type="hidden" name="city_des" value="Bangkok">
      </div>
      <!-- end ngRepeat: des in supportDestination -->
      <div class="item small col-6 col-md-4 float-left"
        style="background: url('/assets/images/destinations/sing-kualalumpur.jpg'); height: 379px;"
        role="button" tabindex="0">
        <div class="content-city-name">
          <h3 class="ng-binding">Kuala Lumpur</h3>
        </div>
        <div class="content-price">
          <!--<span class="medium-paragraph">From ${{des.minPrice}}</span>-->
          <span class="has-icon medium-paragraph">Find cheap flights &gt;</span>
        </div>
        <input type="hidden" name="city_des" value="Kuala Lumpur">
      </div>
      <!-- end ngRepeat: des in supportDestination -->
      <div class="item small col-6 col-md-4 float-left"
        style="background: url('/assets/images/destinations/sing-hongkong.jpg'); height: 379px;"
        role="button" tabindex="0">
        <div class="content-city-name">
          <h3 class="ng-binding">Hong Kong</h3>
        </div>
        <div class="content-price">
          <!--<span class="medium-paragraph">From ${{des.minPrice}}</span>-->
          <span class="has-icon medium-paragraph">Find cheap flights &gt;</span>
        </div>
        <input type="hidden" name="city_des" value="Hong Kong">
      </div>
      <!-- end ngRepeat: des in supportDestination -->
      <div class="item big col-12 col-md-8 float-left"
        style="background: url('/assets/images/destinations/sing-tokyo-1.jpg'); height: 379px;"
        role="button" tabindex="0">
        <div class="content-city-name">
          <h3 class="ng-binding">Tokyo</h3>
        </div>
        <div class="content-price">
          <!--<span class="medium-paragraph">From ${{des.minPrice}}</span>-->
          <span class="has-icon medium-paragraph">Find cheap flights &gt;</span>
        </div>
        <input type="hidden" name="city_des" value="Tokyo">
      </div>
      <!-- end ngRepeat: des in supportDestination -->
      <div class="item big col-12 col-md-8 float-left"
        style="background: url('/assets/images/destinations/sing-shanghai.jpg'); height: 379px;"
        role="button" tabindex="0">
        <div class="content-city-name">
          <h3 class="ng-binding">Shanghai</h3>
        </div>
        <div class="content-price">
          <!--<span class="medium-paragraph">From ${{des.minPrice}}</span>-->
          <span class="has-icon medium-paragraph">Find cheap flights &gt;</span>
        </div>
        <input type="hidden" name="city_des" value="Shanghai">
      </div>
      <!-- end ngRepeat: des in supportDestination -->
      <div class="item small col-6 col-md-4 float-left"
        style="background: url('/assets/images/destinations/sing-taipei.jpg'); height: 379px;"
        role="button" tabindex="0">
        <div class="content-city-name">
          <h3 class="ng-binding">Taipei</h3>
        </div>
        <div class="content-price">
          <!--<span class="medium-paragraph">From ${{des.minPrice}}</span>-->
          <span class="has-icon medium-paragraph">Find cheap flights &gt;</span>
        </div>
        <input type="hidden" name="city_des" value="Taipei">
      </div>
      <!-- end ngRepeat: des in supportDestination -->
      <div class="item small col-6 col-md-4 float-left"
        style="background: url('/assets/images/destinations/sing-jakarta.jpg'); height: 379px;"
        role="button" tabindex="0">
        <div class="content-city-name">
          <h3 class="ng-binding">Jakarta</h3>
        </div>
        <div class="content-price">
          <!--<span class="medium-paragraph">From ${{des.minPrice}}</span>-->
          <span class="has-icon medium-paragraph">Find cheap flights &gt;</span>
        </div>
        <input type="hidden" name="city_des" value="Jakarta">
      </div>
      <!-- end ngRepeat: des in supportDestination -->
      <div class="item big col-12 col-md-8 float-left"
        style="background: url('/assets/images/destinations/sing-manila.jpg'); height: 379px;"
        role="button" tabindex="0">
        <div class="content-city-name">
          <h3 class="ng-binding">Manila</h3>
        </div>
        <div class="content-price">
          <!--<span class="medium-paragraph">From ${{des.minPrice}}</span>-->
          <span class="has-icon medium-paragraph">Find cheap flights &gt;</span>
        </div>
        <input type="hidden" name="city_des" value="Manila">
      </div>
      <!-- end ngRepeat: des in supportDestination -->
    </div>
  </div>
  <ads-banner [ads]="ads"></ads-banner>
</div>
