@font-face {
  font-family: 'gotham-webfont';
  src: url('../../fonts/gotham-webfont/Gotham-Book.otf') format('opentype')
      url('../../fonts/gotham-webfont/Gotham-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'gotham-webfont';
  font-weight: bold;
  src: url('../../fonts/gotham-webfont/Gotham-Bold.otf') format('opentype')
      url('../../fonts/gotham-webfont/Gotham-Bold.ttf') format('truetype');
}

.body-font {
  font-family: 'gotham-webfont', sans-serif !important;
}

.heading-font {
  font-family: 'gotham-webfont', sans-serif !important;
}
